<div class="row">
    <div class="col-md-6" *ngIf="trueUser()">
        <h2 class="page-header">Edit user CV</h2>
        <form (submit)="onEditCvSubmitUser()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" [(ngModel)]="description" name="description" class="form-control">
            </div>
            <div class="form-group">
                <button (click)="onClickAddSkill()" class="btn btn-primary">Add skill</button>
                <input type="text" [(ngModel)]="skillName" name="skillName" class="form-control">
            </div>            
            <ul class="list-group">
                <li *ngFor="let i of this.skills" class="list-group-item">
                    <div class="form-group">
                        <p>{{i}}</p>
                    </div>
                </li>
            </ul>   
            <input type="submit" class="btn btn-primary" value="Submit CV">  
        
        </form>
    </div>
</div>
