<div class="row">
    <div class="col-md-6" *ngIf="trueUser()">
        <h2 class="page-header">Edit user CV</h2>
        <form> 
            <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" [(ngModel)]="description" name="description" class="form-control">
            </div>
	    <div class="form-group row">
                <div class="col-lg-4">
		    <label for="sel1">Skills:</label>
		</div>
                <div class="col-lg-4">
		    <label for="sel2">Level:</label>
		</div>
	    </div>
            <div class="form-group row">
		<!--<input type="text" -->
                <div class="col-lg-4">
                    <select [(ngModel)]="skillName" name="skillName" class="form-control" id="sel1">
                        <option>JAVA</option>
                        <option>C++</option>
                	<option>C</option>
                        <option>CSS</option>
                        <option>Python</option>
                        <option>Javascript</option>
                    </select>
		</div>
                <div class="col-lg-4">
		    <select [(ngModel)]="skillLevel" name="skillLevel" class="form-control" id="sel2">
                        <option value="3">Beginer</option>
                        <option value="6">Intermediate</option>
                	<option value="10">Advanced</option>
                    </select>
		</div>
                <div class="col-lg-4">
               	    <button (click)="onClickAddSkill()" class="btn btn-primary">Add skill</button>
                </div>
            </div>            
            <ul class="list-group">
		<div class="col-lg-6">
                <li *ngFor="let i of this.skills" class="list-group-item">
                    <div class="row">
                        <p>{{i}}</p>
                    </div>
                </li>
		</div>
		<!--div class="col-lg-6">
                <li *ngFor="let i of this.skillLevel" class="list-group-item">
                    <div class="row">
                        <p>{{i}}</p>
                    </div>
                </li>
		</div-->
            </ul>   
            <input (click)="onEditCvSubmitUser()" type="submit" class="btn btn-primary" value="Submit CV">   
        </form>
    </div>
</div>
