<div class="row">
    <div class="col-md-6" *ngIf="trueUser()">
        <h2 class="page-header">Edit user CV</h2>
        <form (submit)="onEditCvSubmitUser()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" [(ngModel)]="description" name="description" class="form-control">
            </div>
            <div class="form-group">
                <label>Education</label>
                <input type="text" [(ngModel)]="education" name="education"class="form-control">
            </div>
            <div class="form-group">
                <label>Skills</label>
		<select class="form-control">
		    <option value="001">Software Engineer</option>
		    <option value="002">Hardware Engineer</option>
		    <option value="003">Web Dsigner</option>
		    <option value="004">Intern(slave/jobless)</option>
		</select>
                <label>Level</label>
		<select class="form-control">
		    <option value="001">Apprentice</option>
		    <option value="002">Initiated</option>
		    <option value="003">Master</option>
		    <option value="004">Grandmaster</option>
		</select>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
