<div class="col-md-6">
    <div *ngIf="userProfile" class="col-md-12">
        <h2 class="page-header">{{userProfile.name}}</h2>
        <ul class="list-group">
            <li *ngIf="userProfile.name" class="list-group-item">Name: {{userProfile.name}}</li>
            <li *ngIf="userProfile.email" class="list-group-item">Email: {{userProfile.email}}</li>
            <li *ngIf="userProfile.description" class="list-group-item">About: {{userProfile.description}}</li>
            <li *ngIf="userProfile.address" class="list-group-item">Address: {{userProfile.address}}</li>
            <li *ngIf="userProfile.age" class="list-group-item">Age: {{userProfile.age}}</li>
        </ul>
        <button class="btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/edit-profile']">Edit profile</a>
        </button>
        <button class="btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/edit-cv']">Edit CV</a>
        </button>
        <button class="btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/testing']">Take test</a>
        </button>
    </div>
    <div *ngIf="companyProfile" class="col-md-12">
        <h2 class="page-header">{{companyProfile.name}}</h2>
        <ul class="list-group">
            <li *ngIf="companyProfile.name" class="list-group-item">Name: {{companyProfile.name}}</li>
            <li *ngIf="companyProfile.email" class="list-group-item">Email: {{companyProfile.email}}</li>
            <li *ngIf="companyProfile.description" class="list-group-item">About: {{companyProfile.description}}</li>
            <li *ngIf="companyProfile.address" class="list-group-item">Address: {{companyProfile.address}}</li>
            <li *ngIf="companyProfile.industry" class="list-group-item">Age: {{companyProfile.industry}}</li>
        </ul>
        <button class="btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/edit-profile']">Edit profile</a>
        </button>
        <button class="btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/add-offer']">Add offer</a>
        </button>
        <button class="btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/add-test']">Add test</a>
        </button>
    </div>
</div>
