<div class="jumobotron text-center">
    <h1>InternArena</h1>
    <p class="lead">Welcome</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">For students</h3>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">For startups</h3>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">For corporates</h3>
    </div>
</div>
