<div class="jumbotron text-center">
    <h1 class="display-3">InternArena</h1>
    <p class="lead">Welcome</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center"> For students</h3>
        </div>
        <div class="col-md-6">
            <h3 class="text-center"> For companies</h3>
        </div>
    </div>
</div>

